<div class="content">
    <p>Hi {{name}},</p>
    <p>We detected a login attempt from a new device or location:</p>
    <ul>
        <li>IP Address: {{ipAddress}}</li>
        <li>Location: {{location}}</li>
        <li>Time: {{time}}</li>
    </ul>
    <p>If this was you, no further action is needed. If you did not attempt to log in, please secure your account immediately by resetting your password.</p>
    <p><a href="{{resetLink}}">Reset Password</a></p>
</div>
